.button-container {
    position: absolute;
    top: 66vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2vw;
}

.button {
    background: linear-gradient(135deg, var(--primary), #B15A63);
    padding: 1vw;
    border-radius: 12px;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: center;
    margin: 3vh;
    margin-left: 3vw;
    transition: all 0.3s ease; /*for animation*/
    cursor: pointer;
}

.button:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /*add shadow*/
}

.button-link { /*so that it looks nice*/
    text-decoration: none;
    color: inherit;
    display: contents;
}

p {
    font-family: var(--main-font);
    font-size: 4vh;
    font-weight: 600;
    color: #f6eaeb;
    grid-column: 2;
    grid-row: 2;
    align-self: start;
    margin-top: 0;
}

h4 {
    font-family: var(--main-font);
    font-size: 8vh;
    font-weight: 900;
    color: #f6eeef;
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    margin-bottom: 0;
}

.menu-button {
    font-family: var(--main-font);
    cursor: pointer;
    padding: 1.5vh 1.5vw;
    background-color: #8e2e16;
    color: white;
    border-radius: 2vh;
    text-decoration: none;
    font-weight: 500;
    font-size: 3vh;
    width: 10vw;
    height: 7vh;
    transition: transform 0.3s ease-in-out;
}